* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  text-decoration: none;
  list-style: none;
}

#navbar {
  position: fixed;
  max-width: 1260px;
  width: 100%;
  top: 0;
  background: #ffffff;
  padding: 1.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 15;
}
#navbar .navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar .navbar-items .left-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar .navbar-items .left-content .toggle-button {
  margin-right: 3rem;
  cursor: pointer;
}
#navbar .navbar-items .left-content .toggle-button img {
  width: 1rem;
}
#navbar .navbar-items .left-content .logo img {
  width: 12rem;
}
#navbar .navbar-items .right-content {
  display: flex;
}
#navbar .navbar-items .right-content .store-locator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
#navbar .navbar-items .right-content .store-locator p {
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
#navbar .navbar-items .right-content .cta {
  background-color: #000;
  color: #fff;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 3rem;
  text-transform: uppercase;
}

#toggle-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  color: #fff;
  width: 300px;
  height: 100vh;
  padding: 1rem;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}
#toggle-nav.active {
  transform: translateX(0%);
}
#toggle-nav .flex-container {
  flex-direction: column;
}
#toggle-nav .flex-container .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #ccc;
  padding-bottom: 2rem;
}
#toggle-nav .flex-container .actions .close {
  cursor: pointer;
}
#toggle-nav .flex-container .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0;
  border-bottom: 0.5px solid #ccc;
}
#toggle-nav .flex-container .nav-menu a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: semi-bold;
  margin: 1rem 0;
}
#toggle-nav .flex-container .socials {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}
#toggle-nav .flex-container .socials i {
  color: #fff;
  margin: 0.5rem 0.5rem;
}
#toggle-nav .flex-container .footer-nav-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}
#toggle-nav .flex-container .footer-nav-menu a {
  color: #fff;
  opacity: 0.7;
}

#hero {
  overflow-x: hidden;
}
#hero video {
  width: 100%;
  height: 100%;
}

#apply {
  padding: 2rem 0;
}
#apply .flex-container {
  justify-content: space-between;
}
#apply .flex-container .left-content {
  display: flex;
  align-items: center;
}
#apply .flex-container .left-content img {
  width: 5rem;
  margin-right: 1rem;
}
#apply .flex-container .left-content div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#apply .flex-container .left-content div .tag {
  background-color: #000;
  color: #ffffff;
  padding: 0.5rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
#apply .flex-container .left-content div .text {
  font-size: 1.5rem;
  font-weight: bold;
}
#apply .flex-container .right-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#apply .flex-container .right-content a {
  font-size: 1.2rem;
}

#details {
  background-color: #fff;
  color: #000;
  padding: 3rem 0;
}
#details .flex-container {
  align-items: center;
  justify-content: center;
}
#details .flex-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#details .flex-container .content h2 {
  font-size: 3rem;
}
#details .flex-container .content p {
  max-width: 800px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#details .flex-container .content .details-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#details .flex-container .content .details-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}
#details .flex-container .content .details-content div p {
  font-weight: bold;
}

#cookies {
  padding: 2rem 0;
}
#cookies .cookies-header .cookies-banner {
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  margin-right: 2rem;
}
#cookies .cookies-header .cookies-banner p {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#cookies .cookies-header .cookies-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1100px;
  font-size: 1.2rem;
  font-weight: 100;
}
#cookies .cookie {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cookies .cookie .cookie-text h2 {
  font-size: 3rem;
}
#cookies .cookie .cookie-text p {
  max-width: 600px;
}
#cookies .cookie .cookie-text .icons {
  opacity: 0.5;
}
#cookies .cookie .cookie-text .icons small {
  opacity: 0.5;
}
#cookies .cookie .cookie-image img {
  width: 500px;
}

#nutritional {
  padding: 2rem 0;
}
#nutritional .flex-container {
  flex-direction: column;
}
#nutritional .flex-container .pill-container {
  border: 1px solid #000;
  width: 100%;
  border-radius: 5rem;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#nutritional .flex-container .pill-container p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#nutritional .flex-container .allergy-container {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
}
#nutritional .flex-container .allergy-container h3 {
  margin-bottom: 0.5rem;
}
#nutritional .flex-container .text {
  padding: 1rem;
}
#nutritional .flex-container .text p {
  margin-bottom: 0.5rem;
  font-style: italic;
  font-size: 0.9rem;
}

#loyalty {
  margin: 2rem 0;
  position: relative;
}
#loyalty .section-bg {
  background-color: #fad1dc;
  min-height: 350px;
  width: 100%;
  position: absolute;
  top: 40px;
}
#loyalty .flex-container {
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5rem;
  z-index: 5;
  background: transparent;
}
#loyalty .flex-container .loyalty-img {
  width: 15rem;
  transform: rotate(-10deg);
}
#loyalty .flex-container .content p {
  font-weight: bold;
  font-size: 2rem;
  max-width: 400px;
  margin-bottom: 1rem;
}
#loyalty .flex-container .content img {
  width: 6rem;
}

#expansion {
  padding: 2rem 0;
}
#expansion .flex-container {
  align-items: center;
  justify-content: space-evenly;
}
#expansion .flex-container .left-content,
#expansion .flex-container .right-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#expansion .flex-container .left-content img,
#expansion .flex-container .right-content img {
  margin-right: 1rem;
  width: 100px;
}
#expansion .flex-container .left-content .content,
#expansion .flex-container .right-content .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#expansion .flex-container .left-content .content h3,
#expansion .flex-container .right-content .content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}
#expansion .flex-container .left-content .content p,
#expansion .flex-container .right-content .content p {
  max-width: 200px;
  margin-bottom: 1rem;
}
#expansion .flex-container .left-content .content .button,
#expansion .flex-container .right-content .content .button {
  background-color: #000;
  color: #ffffff;
  padding: 0.8rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

#footer {
  background-color: #000;
  color: #fff;
  padding: 2rem 0;
}
#footer .grid-container {
  grid-template-columns: repeat(4, 1fr);
}
#footer .grid-container .grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#footer .grid-container .grid-item .grid-logo {
  margin-bottom: 1rem;
}
#footer .grid-container .grid-item .title {
  margin-bottom: 2rem;
}
#footer .grid-container .grid-item ul {
  display: flex;
  flex-direction: column;
}
#footer .grid-container .grid-item ul a {
  margin-bottom: 0.5rem;
  font-weight: 100;
  color: #fff;
}
#footer .grid-container .grid-item .socials {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#footer .grid-container .grid-item .socials i {
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
