* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

#navbar {
  position: fixed;
  max-width: 1260px;
  width: 100%;
  top: 0;
  background: #ffffff;
  padding: 1.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#navbar .navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar .navbar-items .left-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar .navbar-items .left-content .toggle-button {
  margin-right: 3rem;
}
#navbar .navbar-items .left-content .toggle-button img {
  width: 1rem;
}
#navbar .navbar-items .left-content .logo img {
  width: 12rem;
}
#navbar .navbar-items .right-content {
  display: flex;
}
#navbar .navbar-items .right-content .store-locator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
#navbar .navbar-items .right-content .store-locator p {
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
#navbar .navbar-items .right-content .cta {
  background-color: #000;
  color: #fff;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 3rem;
  text-transform: uppercase;
}

#hero {
  overflow-x: hidden;
}
#hero video {
  width: 100%;
  height: 100%;
}

#apply {
  padding: 2rem 0;
}
#apply .flex-container {
  justify-content: space-between;
}
#apply .flex-container .left-content {
  display: flex;
  align-items: center;
}
#apply .flex-container .left-content img {
  width: 5rem;
  margin-right: 1rem;
}
#apply .flex-container .left-content div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#apply .flex-container .left-content div .tag {
  background-color: #000;
  color: #ffffff;
  padding: 0.5rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
#apply .flex-container .left-content div .text {
  font-size: 1.5rem;
  font-weight: bold;
}
#apply .flex-container .right-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#apply .flex-container .right-content a {
  font-size: 1.2rem;
}

#details {
  background-color: #fff;
  color: #000;
  padding: 3rem 0;
}
#details .flex-container {
  align-items: center;
  justify-content: center;
}
#details .flex-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#details .flex-container .content h2 {
  font-size: 3rem;
}
#details .flex-container .content p {
  max-width: 800px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#details .flex-container .content .details-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#details .flex-container .content .details-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}
#details .flex-container .content .details-content div p {
  font-weight: bold;
}

#cookies {
  padding: 2rem 0;
}
#cookies .cookies-header .cookies-banner {
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  margin-right: 2rem;
}
#cookies .cookies-header .cookies-banner p {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#cookies .cookies-header .cookies-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1100px;
  font-size: 1.2rem;
  font-weight: 100;
}
#cookies .cookie {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cookies .cookie .cookie-text h2 {
  font-size: 3rem;
}
#cookies .cookie .cookie-text p {
  max-width: 600px;
}
#cookies .cookie .cookie-text .icons {
  opacity: 0.5;
}
#cookies .cookie .cookie-text .icons small {
  opacity: 0.5;
}
#cookies .cookie .cookie-image img {
  width: 500px;
}

#nutritional {
  padding: 2rem 0;
}
#nutritional .flex-container {
  flex-direction: column;
}
#nutritional .flex-container .pill-container {
  border: 1px solid #000;
  width: 100%;
  border-radius: 5rem;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#nutritional .flex-container .pill-container p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#nutritional .flex-container .allergy-container {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
}
#nutritional .flex-container .allergy-container h3 {
  margin-bottom: 0.5rem;
}
#nutritional .flex-container .text {
  padding: 1rem;
}
#nutritional .flex-container .text p {
  margin-bottom: 0.5rem;
  font-style: italic;
  font-size: 0.9rem;
}

/*# sourceMappingURL=style.css.map */
